@inject NavigationManager Nav
@rendermode InteractiveServer


@if (StudentData != null)
{
    <td>@StudentData.Id</td>
    <td>@StudentData.FirstName</td>
    <td>@StudentData.LastName</td>
    <td>@StudentData.Type</td>
    <td>
        <Button OnClick="NavigateToRegister" ButtonName="Register" ButtonStyle="btn-outline-secondary"></Button>
    </td>
}

@code {
    [Parameter] public Registrar.Student? StudentData { get; set; }
    
    private void NavigateToRegister()
    {
        // to /register/{Id:int}
        @if (StudentData != null)
        {
            Nav.NavigateTo($"/register/{StudentData.Id}");
        }
    }
}