@page "/newstudent"
@inject NavigationManager Nav
@rendermode InteractiveServer


<PageTitle>Add Student</PageTitle>
<h1>Add Student</h1>

<form class="container bg-info bg-opacity-25 p-5">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" id="firstName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" id="lastName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="studentType" class="form-label">Student Type</label>
        <select class="form-select" id="studentType">
            <option selected>Select student type</option>
            @foreach (var type in studentTypes)
            {
                <option value="@type">@type</option>
            }
        </select>
    </div>
    <footer>
        <Button ButtonStyle="btn-success" ButtonName="Add Student"></Button>
        <Button ButtonStyle="btn-danger" ButtonName="Cancel" OnClick="NavigateToStudents"></Button>
    </footer>
    
    

</form>

@code {
    private List<string> studentTypes = Helper.GetStudentTypes();
    
    private void NavigateToStudents()
    {
        Nav.NavigateTo("/");
    }

}