@page "/register/{studentId:int}"
@inject NavigationManager Nav
@rendermode InteractiveServer


@if (!students.Exists(student => student.Id == StudentId))
{
    NavigateToStudents();
}
else
{
    <PageTitle>Register</PageTitle>
    <h1>Register Student</h1>

    <Form>
        <h2 class="mb-4">@StudentName() (ID: @StudentId)</h2>
        <p>The following courses are currently available for registration:</p>
        @foreach (var course in courses)
        {
        <div class="form-check m-2">
            <input class="form-check-input" type="checkbox" value="" id="@course.Code">
            <label class="form-check-label" for="@course.Code">@course.ToString()</label>
        </div>
        }
        <footer>
            <Button ButtonStyle="btn-success" ButtonName="Register Student"></Button>
            <Button ButtonStyle="btn-danger" ButtonName="Cancel" OnClick="NavigateToStudents"></Button>
        </footer>

    </Form>
}


@code {
    [Parameter] public int StudentId { get; set; }

    private List<Registrar.Student> students = Helper.GetStudents();

    private List<Course> courses = Helper.GetCourses();

    private string StudentName()
    {
        return Helper.GetStudentFirstNameById(StudentId);
    }
    
    private void NavigateToStudents()
    {
        Nav.NavigateTo("/");
    }

}