@page "/register/{studentId:int}"
@inject NavigationManager Nav

@if (students.Exists(student => student.Id == StudentId))
{
    <PageTitle>Register</PageTitle>
    <h1>Register Student</h1>

    <h3>StudentID: @StudentId</h3>
    <h3>@StudentName()</h3>
}
else
{
    NavigateToStudents();
}


@code {
    [Parameter] public int StudentId { get; set; }

    private List<Registrar.Student> students = Helper.GetStudents();

    private string StudentName()
    {
        return Helper.GetStudentFirstNameById(StudentId);
    }


    // private Registrar.Student? studentData = students.Find(s => s.Id == StudentId);

    private void NavigateToStudents()
    {
        Nav.NavigateTo("/");
    }

}